.grid-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.loading-articles {
    border: 2px solid #d6d8db;
    background-color: #e2e3e5;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #383d41;
    border-radius: 5px;
    text-align: center;
    padding: 1em 0;
}